<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b81dd0f9-5715-41d5-bc40-66c7d3673f29/resourceGroups/resourse-services/providers/Microsoft.Web/sites/capital-placement-assessment</ResourceId>
    <ResourceGroup>resourse-services</ResourceGroup>
    <ApiResourceId>/subscriptions/b81dd0f9-5715-41d5-bc40-66c7d3673f29/resourceGroups/resourse-services/providers/Microsoft.ApiManagement/service/Capital-placement-assessmentapi/apis/Capital-placement-assessment</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://capital-placement-assessment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8eb0a4b0-a8ae-4c18-904e-ce03936bd5dc</ProjectGuid>
    <MSDeployServiceURL>capital-placement-assessment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>capital-placement-assessment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>